* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    background-color: black;
    color: blue;
}

section {
    border: blue;
    background-color: yellow;
}

p {
    color: tomato;
}